@charset "utf-8";

body {
  background: linear-gradient(to right, #232526, #414345);
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 3px 0px 3px 0px; /* 상단화면과 시계사이 간격 */
}

/* 초기화면 광고 로고 띄우고 2초후에 메인 페이지를 열리게 하려고 사용(시작지점) */
/* 이 코드를 사용하기위해 index.html,style.css와 jikji.js파일과 연결되어있다. */
/* 전체 화면을 덮는 로딩 화면 스타일 */
#loading-screen {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #363434; /* 배경색을 회색으로 설정 */
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.5s ease;
  z-index: 9999;
}

#loading-screen img {
  width: 250px; /* 첫화면 광고 로고 크기 */
}

/* 메인 컨텐츠(로고전 원래의 홈페이지) 숨기기 */
#main-content {
  display: none;
}
/* 초기화면 광고 로고 띄우고 1초후에 메인 페이지를 열리게 하려고 사용(끝지점 !!) */

table {
  border-spacing: 0px;
  border-style: none;
  padding: 0px;
  margin: 0 auto;
  max-width: 100%; /* 추가 */
  table-layout: fixed; /* 추가: 자동 확장 방지 */
}

td {
  border-spacing: 0px;
  border-style: none;
  padding: 0px;
}

/*CSS : 시계를 꾸미는 부분*/
.header {
  /*    width: 10.9rem;*/
  width: 100%;
  height: 1.25rem;
  margin: auto;
  text-align: center;
  color: #f4f4f4;
  background-color: black;
  padding: 0.125rem 0px; /*  LED창과 시계와의 상하간격 10px사용  */
}

#Clock {
  color: #f0c420;
  font-size: 1.25rem;
}
#Clockday {
  color: #f0c420;
}

/* 전광판 구역 틀고정시키기 */
table > tbody > tr:nth-of-type(2) {
  position: sticky;
  top: 0;
}

.wrap1 {
  /* 큐브회전이미지부분 */
  /*    position: fixed;    큐브 고정이미지 */
  color: aliceblue;
  width: 1.25rem; /* 아래position설정으로 잠겨서 가로세폭이안먹히는거같음! */
  height: 1.18rem;
  margin: center;
  padding: 1px 0px 0px 1px;
}

/* 전광판 구역~ 직지초35회 김천지부 동기연락망 옆으로 흐르는 애니메이션 구현 */

.marquee-container {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  align-items: center; /* 수직 중앙 정렬 */
  background-image: url('image/bg.gif'); /* 전광판 배경이미지 */
  background-color: lightgray;
  padding: 0; /* (중요!) 가로 화면으로 너비가 이탈하는것을 방지하기 위함이다. */
  margin: 0; /* (중요!) 가로 화면으로 너비가 이탈하는것을 방지하기 위함이다. */
}

.marquee {
  display: inline-block;
  align-items: center; /* 내부 요소 수직 중앙 정렬 */
  white-space: nowrap;
  animation: marquee 3s linear infinite; /* 시간설정 */
  font-size: 18px;
  color: #ffffff;
  padding: 0; /* (중요!) 가로 화면으로 너비가 이탈하는것을 방지하기 위함이다. */
  margin: 0; /* (중요!) 가로 화면으로 너비가 이탈하는것을 방지하기 위함이다. */
}

@keyframes marquee {
  from {
    transform: translateX(-20%); /* 전광판문자 시작 위치 */
  }
  to {
    transform: translateX(-10%); /* 끝 위치 */
  }
}

/* 전광판 좌측구역~ 아이콘 4개 큐브가 앞뒤로 회전하는 애니메이션 구현 */

.cube {
  width: 1.43rem; /* 23px */
  height: 1.43rem;
  padding: 1px 0 0 0;
  transform-style: preserve-3d;
  transform: rotateX(0); /* rotatex()값을 변경하면 튜브가 각도만큼 회전한다.  */
  transition: all 2s;
}

.cube img {
  position: absolute;
  top: 0;
  left: 0;
}

.cube img:nth-child(1) {
  transform: translateZ(11px);
}

.cube img:nth-child(2) {
  transform: rotateX(90deg) translateZ(11px);
}

.cube img:nth-child(3) {
  transform: rotateX(180deg) translateZ(11px);
}

.cube img:nth-child(4) {
  transform: rotateX(270deg) translateZ(11px);
}

a {
  text-decoration-line: none; /* 링크 밑줄쳐진것들 제거  */
  color: #ffffff;
}

/* LED 스크린 */
marquee > img {
  box-sizing: border-box;
  padding-top: 10px;
}
marquee > span {
  /* 직지초35 */
  font-size: 19px;
}
marquee > a {
  /* 김천지부 동기연락망 */
  font-size: 19px;
}

.no {
  /* NO 숫자 제목부분 */
  width: 1.56rem; /* 25px */
  height: 1.56rem;
  border: 1px solid;
  text-align: center;
  padding: 0.625rem 0;
  font-size: 0.6em; /* 12px */
  color: #1690e4;
}
.name {
  /* 이름 제목부분: 아래 name_1와 맞출것! */
  width: 4.8rem; /* 5.8 */
  height: 1.56rem;
  border: 1px solid;
  text-align: center;
  font-size: 1.2em; /* 20px */
  /*	font-weight: bold;*/
  color: #1690e4;
  letter-spacing: 1px;
}
.tel {
  /* 전화번호 제목부분: 아래 tel_와 맞출것! */
  width: 9.2rem; /* 11.25 */
  height: 1.56rem;
  border: 1px solid;
  text-align: center;
  font-size: 1.2em; /* 20px */
  /*	font-weight: bold;*/
  letter-spacing: 1px;
  color: #1690e4;
}
.address {
  /* 주소 제목부분 */
  width: 3.75rem; /* 60px */
  height: 1.56rem; /* 25px */
  border: 1px solid;
  text-align: center;
  padding: 0.375rem 0;
  font-size: 0.9em; /* 12px */
  color: #1690e4;
}
.remark {
  /* 비고 제목부분 */
  width: 3.75rem; /* 60px */
  height: 1.56rem;
  border: 1px solid;
  text-align: center;
  padding: 0.375rem 0;
  font-size: 0.9em; /* 15px */
  color: #1690e4;
}
.sms {
  /* SMS 문자메세지 제목부분 */
  width: 3.75rem; /* 60px */
  height: 1.56rem;
  border: 1px solid;
  text-align: center;
  padding: 0.375rem 0;
  font-size: 1.1em; /* 15px */
  /*	font-weight: bold;*/
  color: #1690e4;
}

.no_1 {
  /* NO 숫자 소제목부분 */
  width: 1.56rem; /* 25px */
  height: 1.56rem; /* 25px */
  border: 1px solid;
  text-align: center;
  padding: 0.625rem 0; /* 10px */
  font-size: 0.8em; /* 12px */
  color: #ffffff;
}

.name_1 {
  /* 이름 소제목부분: 위 name와 맞출것! */
  width: 4.8rem; /* 90px */
  height: 1.56rem; /* 25px */
  border: 1px solid;
  text-align: center;
  font-size: 1.1em; /* 20px */
  color: #ffffff;
}
.tel_1 {
  /* 전화번호 소제목부분: 위 tel과 맞출것! */
  width: 9.2rem; /* 180px */
  height: 1.56rem; /* 25px */
  border: 1px solid;
  text-align: center;
  font-size: 21px; /* (중요!) 아래 374라인 반응형으로 동작 */
  color: #ffffff;
}
.address_1 {
  /* 주소 소제목부분 */
  width: 3.75rem; /* 60px */
  height: 1.56rem; /* 25px */
  border: 1px solid;
  text-align: center;
  padding: 6px 0;
  font-size: 0.8em; /* 12px */
  color: #ffffff;
}
.remark_1 {
  /* 비고 소제목부분 */
  width: 3.75rem; /* 60px */
  height: 1.56rem; /* 25px */
  border: 1px solid;
  text-align: center;
  padding: 6px 0;
  font-size: 0.8em; /* 15px */
  color: #ffffff;
}
.sms_1 {
  /* SMS메세지 소제목부분 */
  width: 3.75rem; /* 60px */
  height: 1.56rem; /* 25px */
  border: 1px solid;
  text-align: center;
  padding: 0.37rem 0;
  font-size: 1em; /* 15px */
  color: #ffffff;
}
.max-small {
  /* sms문자메세지 이미지부 */

  width: 1.31rem; /* 21px */
  height: 1.31rem; /* 21px */
  margin: center;
  text-align: center;
}

.foot {
  display: block;
  color: antiquewhite;
  font-size: 0.8em;
  height: 1.87rem; /* 30px */
  margin-top: 1.87rem; /* 30px */
  text-align: center;
}
.gototop {
  /* 우측제일하단 화살표를 누르면 제일위로 이동하게한다. */

  position: fixed;
  right: 3.5rem; /* 기존 left → right로 변경 */
  bottom: 1.56rem; /* 25px; */
}

.gototop .fa {
  /* 우측제일하단 화살표를 누르면 제일위로 이동하게한다. */
  background-color: #fff;
  border: 1px solid lightgray;
  width: 1.1em; /* 20px */
  height: 1.1em; /* 20px */
  border-radius: 50%;
  line-height: 2.5rem; /* 40px; */
  font-size: 1.5rem; /* 24px; */
  cursor: pointer;
  transition: 0.3s;
}
.gototop .fa:hover {
  /* 우측제일하단 화살표를 누르면 제일위로 이동하게한다.*/
  background-color: #838180;
  color: #ffffff;
}

/* ======================================================================= */
/* ======================================================================= */

/* 스크린 기기 크기에 따라서 자동 반응한다.  */
@media screen and (max-width: 700px) {
  .tel_1 {
    /* 전화번호 소제목부분: 위 tel과 맞출것! */
    width: 9.2rem;
    height: 1.56rem;
    border: 1px solid;
    text-align: center;
    font-size: 19px; /* 사이즈 em작동이 안되서 px로 수정함 */
    letter-spacing: -2px;
    color: #ffffff;
  }

  /* 스크린화면이 400픽셀이하일때는 전화연락망 메뉴중에서 비고란은 없앤다.  */
  @media screen and (max-width: 400px) {
    .remark {
      /* 비고 소제목부분 */
      display: none;
    }

    .remark_1 {
      /* 비고 소제목부분(개인별) */
      display: none;
    }

    .tel_1 {
      /* 전화번호 소제목부분: 위 tel과 맞출것! */
      width: 9.2rem;
      height: 1.56rem;
      border: 1px solid;
      text-align: center;
      font-size: 18px; /* 사이즈 em작동이 안되서 px로 수정함 */
      letter-spacing: -2px;
      color: #ffffff;
    }
  }
}
