body {
    background: #e3f2fd;
}

svg {
    font-family: 'Black Han Sans', sans-serif;
    position: absolute;
    width: 100%;
    height: 100%;
}

svg text {
    text-transform: uppercase;
    animation: stroke 15s infinite alternate; /* 애니메이션 지속 시간 15초로 변경 */
    stroke-width: 2;
    stroke: #ff9800;
    font-size: 140px;
    letter-spacing: 5px;
}

@keyframes stroke {
    0% {
        fill: rgba(255, 160, 0, 0);
        stroke: rgba(255, 152, 0, 1);
        stroke-dashoffset: 25%;
        stroke-dasharray: 0 50%;
        stroke-width: 2;
    }
    70% {
        fill: rgba(255, 160, 0, 0);
        stroke: rgba(255, 152, 0, 1);
    }
    80% {
        fill: rgba(255, 160, 0, 0);
        stroke: rgba(255, 152, 0, 1);
        stroke-width: 3;
    }
    100% {
        fill: rgba(255, 160, 0, 1);
        stroke: rgba(255, 152, 0, 0);
        stroke-dashoffset: -25%;
        stroke-dasharray: 50% 0;
        stroke-width: 0;
    }
    100.01% { /* 10초 동안 정지 상태 유지 */
        fill: rgba(255, 160, 0, 1);
        stroke: rgba(255, 152, 0, 0);
        stroke-dashoffset: -25%;
        stroke-dasharray: 50% 0;
        stroke-width: 0;
    }
}